h2 {
  margin: 0 0 0.5rem 0;
  font-family: "Dosis";
  font-weight: normal;
  font-size: 1.2rem;
}

.marker {
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  background-image: url("https://cdn1.iconfinder.com/data/icons/cloud-14/32/pin_custom_location_locate_google-512.png");
}

#map {
  flex: 2;
  height: calc(100vh - 3rem);
  overflow: hidden;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Dosis";
}

#app {
  display: flex;
}

.panel {
  margin: 1rem;
  padding: 1rem;
  border-radius: 2px;
  background-color: rgb(194, 225, 255);
  color: rgb(94, 93, 97);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.panel > div {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.panel > div:first-child {
  margin-top: 0;
}

@media screen and (max-width: 600px) {
  #app {
    flex-direction: column;
  }
  #map {
    margin: 0 1rem;
    height: 75vh;
  }
}

select {
  width: calc(100% - 25px);
  font-size: 12px;
  -webkit-appearance: menulist-button;
}

.options-btn {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 12px;
  background: #5f9bc0;
  border: 0;
  color: #fff;
}

.options-btn:hover {
  background: #4283aa;
}

.options-btn:active {
  background: #286090;
}
